img {
    max-width: 150px;
    height: auto;
    float: left;
    padding-right: 15px;
    margin-top: 15px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

div {
    width: 70%;
    margin: auto;
    background-color: rgb(216, 224, 232);
}

p {
    text-align: justify;
    line-height: 1.4rem;
    padding: 10px;
    padding-right: 20px;
    color: rgb(28, 42, 53);
    font-size: 1.14rem;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
}

dd {
    margin: 0%;
}


h1 {
    background-color: rgb(128, 134, 154);
    color: azure;
    padding: 20px;
    font-size: 2.2rem;
}

dl {
    padding: 10px;
    background-color: rgb(110, 114, 135);
    color: azure;
}